<section class="contacto">
    <section class="row">
        <div class="col-md-6 texto">
            <h2 class="title">ENCUENTRANOS</h2>

            <article class="process-list">
                <div class="process-description">
                    <p>
                        Calle 62 x 33 y 35, Ciudad Caucel <br />
                        Ciudad de Merida, Yucatan, MX <br />
                        Telefono: (99) 86 78 65 44.
                    </p>
                </div>
            </article>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7449.541863581925!2d-89.68820022081586!3d21.00181748229239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMjHCsDAwJzA0LjgiTiA4OcKwNDEnMTcuNiJX!5e0!3m2!1ses!2smx!4v1598279194729!5m2!1ses!2smx"
                width="350" height="300" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false"
                tabindex="0" class="mapa-google"></iframe>
        </div>

        <div class="col-md-6 formulario-contacto">
            <div class="textwidget">
                <h1 class="text-center font-weight-bold">
                    Contactanos!
                </h1>
                <p class="text-center h5">
                    Y recibe todas las promociones de manera inmediata.
                </p>
            </div>

            <form>
                <label class="labels-formato">Nombre: </label>
                <div class="form-group d-flex justify-content-center">
                    <input type="text" class="form-control-md" id="inputNombre" placeholder="Nombre" />
                </div>
                <label class="labels-formato">Correo Electronico:
                </label>
                <div class="form-group d-flex justify-content-center">
                    <input type="email" class="form-control-md" id="inputEmail" aria-describedby="emailHelp"
                        placeholder="Correo - Email" />
                </div>
                <label class="labels-formato">Telefono:</label>
                <div class="form-group d-flex justify-content-center">
                    <input type="text" class="form-control-md" id="inputTelefono" placeholder="Telefono" />
                </div>
                <label class="labels-formato">Comentarios:</label>
                <div class="form-group">
                    <textarea class="form-control-md" id="exampleFormControlTextarea1"
                        placeholder="Escriba aqui sus comentarios" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">
                    Enviar Datos
                </button>
            </form>
        </div>
    </section>
</section>