<section class="acceso-contacto">


    <section class="container acceso-contacto">
        <div class=" row align-items-center">

            <div class="col-md-6">
                <div class="col-sm-8">
                    <h2 class="title">CONTACTO</h2>

                    <article class="process-list">
                        <div class="process-description">
                            <p>Ciudad de Merida, Yucatan, MX <br>
                                Telefono: (99) 86 78 65 44.
                            </p>
                        </div>

                    </article>
                </div>

                <div class="col-sm-8  imagen-bn">
                    <img src="images/Logo_BN-min.png" class="img-fluid " alt="Logo Restaurante" />
                </div>

            </div>

            <div class="col-md-6">
                <div class="textwidget">
                    <h1 class="text-center font-weight-bold">Suscríbete</h1>
                    <p class="text-center h5">Y recibe todas las promociones de manera inmediata.</p>
                </div>
                <form>
                    <div class="form-group d-flex  justify-content-center">
                        <input type="email" class="form-control" id="exampleFormControlInput1"
                            placeholder="nombre@ejemplo.com">
                        <button type="submit" class="btn btn-primary">Enviar</button>
                    </div>
                </form>
                <div class="redes_sociales inferior">
                    <a class="linksInstaTwitter" href="#">
                        <img src="images/insta_icono-min.png" class="icono_insta ">
                    </a>
                    <a class="linksInstaTwitter" href="#">
                        <img src="images/twitter_icono-min.png" class="icono_twitter ">
                    </a>
                    <a href="#">
                        <img src="images/face_icono-min.png" class="icono_face inferior">
                    </a>
                </div>
            </div>
        </div>
    </section>
</section>