<div class="redes_sociales">
    <a class="linksInstaTwitter" href="#">
        <img src="images/insta_icono-min.png" class="icono_insta">
    </a>
    <a class="linksInstaTwitter" href="#">
        <img src="images/twitter_icono-min.png" class="icono_twitter">
    </a>
    <a class="linkFace" href="#">
        <img src="images/face_icono-min.png" class="icono_face">
    </a>
</div>


<!--         BARRA DE MENU          -->

<nav class="navbar navbar-expand-lg navbar-light ">
    <a class="navbar-brand" href="/">
        <img src="images/logo_chico-min.png" alt="Logo Restaurante" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto ">
            <!-- mx-auto coloca los items interiores (los li en este caso) con margen automatico de cada lado-->
            <li class="nav-item active">
                <a class="nav-link" href="/">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/nosotros">Nosotros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/menu">Menu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacto">Contacto</a>
            </li>
        </ul>
        <form class="my-2 my-lg-0 actions">
            <a href="/ventaOnline">
                <button type="button">Ordena En <br> Linea</button>
            </a>
        </form>

    </div>

</nav>