/** colores */
/** fuentes */
/** placeholders */
.acceso-contacto .col-sm-8 .title, .menu .title {
  font-family: "Chaparral Pro", serif;
  color: #C2322A;
  font-size: calc(1.2em + 1.3vw);
  font-weight: bold;
}

.menu .description {
  font-family: "Chaparral Pro", serif;
  color: #4a4a4a;
  font-size: calc(0.7em + 1.0vw);
}

.menu .acceso-menu {
  font-size: 25px;
  font-weight: bold;
}

.acceso-contacto .fondo-mariscos > .card-img-top, .menu .fondo-mariscos > img {
  opacity: 0.035;
  position: absolute;
  margin-top: -50px;
  left: 0;
  z-index: 0;
  height: 100%;
}

.acceso-contacto .textwidget > h1 {
  -webkit-text-fill-color: #E7B830;
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

.menu {
  background-color: #ffffff;
  max-width: unset;
  padding: 2.5% 5%;
  text-align: center;
}
.menu .fondo-mariscos {
  padding: 0;
  height: 100%;
}
.menu .description {
  margin-top: 1.8vw;
  margin-bottom: 2.5vw;
}
.menu .card-img-top {
  height: 15.5vw;
}
.menu .card-title {
  font-size: 25px;
  color: #1876AF;
  font-weight: bold;
}
.menu .card-text {
  color: #4a4a4a;
  font-size: 16px;
}
.menu .acceso-menu {
  margin: 0 40% 1.6vw;
  padding: 1vw 0;
  border: 0.05vw #4a4a4a solid;
  font-weight: 400;
}
.menu .acceso-menu > a {
  color: #4a4a4a;
}

@media (max-width: 600px) {
  .title {
    font-size: 26px !important;
    margin-top: 40px !important;
  }

  .description {
    font-size: 18px !important;
    margin-bottom: 40px !important;
  }

  .card-img-top {
    height: 52.5vw !important;
  }

  .acceso-menu {
    margin: 20px 20% 1.6vw !important;
    border: 0.03vw #4a4a4a solid !important;
  }
}
.acceso-contacto {
  background-color: gainsboro;
  z-index: 2;
}
.acceso-contacto .fondo-mariscos {
  padding: 0;
  height: 100%;
}
.acceso-contacto .fondo-mariscos > .card-img-top {
  border: 1px white solid;
  max-width: 1900px !important;
  width: 1900px !important;
  height: 380px;
}
.acceso-contacto .col-sm-8 {
  text-align: center;
  max-width: 100%;
}
.acceso-contacto .col-sm-8 .title {
  margin-top: 30px;
}
.acceso-contacto .col-sm-8 .process-list {
  margin-top: 10px;
}
.acceso-contacto .col-sm-8 .process-list .process-description {
  text-align: center;
  color: #4a4a4a;
  margin: 0;
  font-weight: 600;
}
.acceso-contacto .img-fluid {
  max-width: 40%;
}
.acceso-contacto .textwidget > p {
  font-weight: 400 !important;
  margin: 30px 0 20px;
}
.acceso-contacto .form-control {
  width: 50% !important;
}
.acceso-contacto .btn-primary {
  background-color: #C2322A !important;
  border-color: #C2322A;
}
.acceso-contacto .inferior {
  background-color: transparent !important;
  text-align: center !important;
  margin-right: 0 !important;
}

@media (max-width: 600px) {
  .textwidget > h1 {
    margin-top: 40px;
  }
  .textwidget > p {
    margin-top: 10px !important;
  }

  .form-control {
    width: 50% !important;
  }
}
/*
.autor{
  background-color: $black-logo;
  opacity: .9;
  color:$white;
  text-align: center;
  vertical-align: middle;
  padding: 3%;
}
*/

/*# sourceMappingURL=main.css.map */
